SLACK_TOKEN=<ask a colleague>
DB_PASSWORD=<ask a colleague>
DB_USERNAME=<ask a colleague>
# These parameters should be left in plain text
DB_CONNECT_STRING=<ask a colleague>
NCIP_URL=<ask a colleague>
SLACK_CHANNEL=service-logging
SLACK_CHANNEL_ALT=cancel-req-logging
SLACK_USERNAME=CheckinRequestService-development
SLACK_LOGGING_LEVEL=info
DEFAULT_LOGGING_LEVEL=debug
JOB_SERVICE_URL=https://dev-platformdocs.nypl.org/api/v0.1/jobs
USE_JOB_SERVICE=1
IDENTITY_HEADER=X-NYPL-Identity
TIME_ZONE=America/New_York
SCHEMA_BASE_URL=https://dev-platformdocs.nypl.org/api/v0.1/current-schemas
API_BASE_URL=https://dev-platformdocs.nypl.org/api/v0.1/
SWAGGER_SCHEME=http
SWAGGER_GENERAL_URL=https://dev-platformdocs.nypl.org/docs/checkin-requests
SWAGGER_HOST=dev-platformdocs.nypl.org
